@import "../../../asset/scss/all.scss";

.auth {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 580px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	&__content {
		padding: 2rem;
		background-color: $dark-color-2;
		width: 520px;
		border-radius: 5px;

		@include boxShadow;

		&-title {
			text-align: center;
			color: $light-color-1;
			font-size: 1.75rem;
		}

		&-google {
			padding: 7px;
			width: 100%;
			color: $light-color-1 !important;
			background-color: $danger-color-1 !important;
			min-height: 42px !important;
			font-size: 1rem !important;
			border: none !important;
			border-radius: 3px !important;
			margin-top: 1rem !important;
		}

		&-change {
			text-align: left;
			color: $light-color-2;
		}
	}
}
