$dark-color-1: #303339;
$dark-color-2: #36393f;
$dark-color-3: #72767d;
$dark-color-4: #202225;
$dark-color-5: #2f3136;
$dark-color-6: #393c43;

$light-color-1: #fff;
$light-color-2: #b9bbbe;
$light-color-3: #72767d;

$primary-color-1: #02aaed;
$primary-color-2: #5865f2;
$primary-color-3: #4752c4;

$danger-color-1: #ed4245;
$warning-color-1: #f3c52f;
